<?xml version="1.0" encoding="UTF-8"?>
<Wix xmlns="http://schemas.microsoft.com/wix/2006/wi">
    <Product Id="*"
             Name="Azusa Lens"
             Language="1033"
             Version="$(var.ProductVersion)"
             Manufacturer="Azusa Lens contributors"
             UpgradeCode="A93D2B17-5A18-4E44-9B6E-C7A772A76516">
        <Package InstallerVersion="500"
                 Compressed="yes"
                 InstallScope="perMachine"
                 Platform="x64" />
        <MajorUpgrade DowngradeErrorMessage="A newer version of Azusa Lens is already installed." />
        <MediaTemplate EmbedCab="yes" />
        <Property Id="AZUSALENSAPPID" Value="com.azusalens.AzusaLens" />

        <Icon Id="ApplicationIcon" SourceFile="$(var.IconPath)" />

        <Feature Id="ProductFeature" Title="Azusa Lens" Level="1">
            <ComponentRef Id="ApplicationExecutable" />
            <ComponentRef Id="ApplicationShortcut" />
        </Feature>

        <Directory Id="TARGETDIR" Name="SourceDir">
            <Directory Id="ProgramFiles64Folder">
                <Directory Id="INSTALLFOLDER" Name="Azusa Lens">
                    <Component Id="ApplicationExecutable" Guid="*">
                        <File Id="AzusaLensExecutable"
                              Source="$(var.BinaryPath)"
                              KeyPath="yes" />
                    </Component>
                </Directory>
            </Directory>
            <Directory Id="ProgramMenuFolder">
                <Directory Id="ApplicationProgramsFolder" Name="Azusa Lens" />
            </Directory>
        </Directory>

        <DirectoryRef Id="ApplicationProgramsFolder">
            <Component Id="ApplicationShortcut" Guid="*">
                <Shortcut Id="ApplicationStartMenuShortcut"
                          Name="Azusa Lens"
                          Description="Screenshot, annotation, and local OCR"
                          Target="[INSTALLFOLDER]azusa-lens.exe"
                          WorkingDirectory="INSTALLFOLDER"
                          Icon="ApplicationIcon"
                          Advertise="no" />
                <RemoveFolder Id="ApplicationProgramsFolder" On="uninstall" />
                <RegistryValue Root="HKCU"
                               Key="Software\AzusaLens"
                               Name="installed"
                               Type="integer"
                               Value="1"
                               KeyPath="yes" />
            </Component>
        </DirectoryRef>

        <Property Id="ARPPRODUCTICON" Value="ApplicationIcon" />
    </Product>
</Wix>
